@import "tailwindcss";

@theme {
	--color-text: #4e3b2a;
	--color-primary: #fff6e8;
	--color-secondary: #594423;
	--color-accent: #f7e6ca;
}

#header {
	font-family: "Cinzel", serif;
}

/* span {
	color: #4e3b2a;
} */